/* 
    Created on : 22-may-2018, 11:36:39
    Author     : usuario
*/

.ui-layout-pane {
    border: 0;
}

.ui-widget .ui-widget {
    font-size: 0.9em !important; 
}

.ui-layout-unit {
    visibility: hidden;
    padding: .05em !important;
}

.ui-panel-title{
    font-size: 1.3em !important; 
}

.panelWithoutBorder .ui-panelgrid-content{
    border-style: none !important
}

.panelWithoutBorder .ui-widget-content{
    background: none !important;
}