/* 
    Created on : 22-may-2018, 11:36:39
    Author     : usuario
*/

.ui-layout-pane {
    border: 0;
}

.ui-widget .ui-widget {
    font-size: 0.9em !important; 
}

.ui-layout-unit {
    visibility: hidden;
    padding: .05em !important;
}

.ui-panel-title{
    font-size: 1.3em !important; 
}

.panelWithoutBorder .ui-panelgrid-content{
    border-style: none !important
}

.panelWithoutBorder .ui-widget-content{
    background: none !important;
}

.homemenubutton
{
    background:url('/doctrack/resources/images/icons8-home-50.png') no-repeat !important;
    width:14px;
    height:14px;
    background-size: 100% 100% !important;
}

.exitmenubutton
{
    background:url('/doctrack/resources/images/icons8-door-50.png') no-repeat !important;
    width:14px;
    height:14px;
    background-size: 100% 100% !important;
}

.menuWithoutBorder {
    padding: 0 !important;
}